@charset "utf-8";
div {
	height: 200px;
	background-position: center;
	background-size: cover;
}
.img-box1 {
	background-image: url("img/box1.jpg");
}
.img-box2 {
	background-image: url("img/box2.jpg");
}
.img-box3 {
	background-image: url("img/box3.jpg");
}
.img-box4 {
	background-image: url("img/box4.jpg");
}